
<!DOCTYPE html>
<html lang="en">
<head>
    <script>var exports = {"__esModule": true};</script>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval'; img-src 'self' https://game.raceroom.com/ https://prod.r3eassets.com/; connect-src 'self' wss://localhost:* ws://localhost:* https://raw.githubusercontent.com/ https://game.raceroom.com/multiplayer-rating/ratings.json; style-src-elem https://fonts.googleapis.com/ 'self'; font-src 'self' https://fonts.gstatic.com;">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>