<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ReHUDConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level %property{StartTimestamp}%property{EndTimestamp} - %property{Message}%newline" />
        </layout>
    </appender>
    <appender name="file" type="log4net.Appender.ReHUDRollingAppender">
        <file type="log4net.Util.PatternString" value="%property{LogFilePath}" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{StartTimestamp}%property{EndTimestamp} [%thread] %level - %property{Message}%newline" />
        </layout>
    </appender>
</log4net>