:root {
  --hud-element-background: rgba(0, 0, 0, 0.6);

  --revs-color-normal: white;
  --revs-color-upshift: rgb(0, 255, 0);
  --revs-color-redline: rgb(255, 0, 0);
  --revs-color: var(--revs-color-normal);

  --fuel-middle-color: rgb(127.5, 127.5, 0);
  --fuel-left-color: rgb(0, 255, 0);
  --fuel-last-lap-color: var(--fuel-middle-color);
  --fuel-to-add-color: var(--fuel-middle-color);


  --temp-color-normal: rgb(0, 0, 255);

  --front-left-1-color: var(--temp-color-normal);
  --front-left-2-color: var(--temp-color-normal);
  --front-left-3-color: var(--temp-color-normal);

  --front-right-1-color: var(--temp-color-normal);
  --front-right-2-color: var(--temp-color-normal);
  --front-right-3-color: var(--temp-color-normal);

  --rear-left-1-color: var(--temp-color-normal);
  --rear-left-2-color: var(--temp-color-normal);
  --rear-left-3-color: var(--temp-color-normal);

  --rear-right-1-color: var(--temp-color-normal);
  --rear-right-2-color: var(--temp-color-normal);
  --rear-right-3-color: var(--temp-color-normal);


  --dirty-front-left-size: 2px;
  --dirty-front-right-size: 2px;
  --dirty-rear-left-size: 2px;
  --dirty-rear-right-size: 2px;

  --dirty-front-left-color: rgb(255, 50, 50);
  --dirty-front-right-color: rgb(255, 50, 50);
  --dirty-rear-left-color: rgb(255, 50, 50);
  --dirty-rear-right-color: rgb(255, 50, 50);

  --front-left-brake-color: var(--temp-color-normal);
  --front-right-brake-color: var(--temp-color-normal);
  --rear-left-brake-color: var(--temp-color-normal);
  --rear-right-brake-color: var(--temp-color-normal);

  --abs-grayscale: 1;
  --abs-brightness: 1;
  --tc-grayscale: 1;
  --tc-brightness: 1;


  --damage-color-ok: white;
  --damage-color-partial: rgb(235, 121, 14);
  --damage-color-full: rgb(255, 36, 36);

  --engine-damage-color: var(--damage-color-ok);
  --aerodynamics-damage-color: var(--damage-color-ok);
  --transmission-damage-color: var(--damage-color-ok);
  --suspension-damage-color: var(--damage-color-ok);

  --engine-damage-text-color: var(--damage-color-ok);
  --aerodynamics-damage-text-color: var(--damage-color-ok);
  --transmission-damage-text-color: var(--damage-color-ok);
  --suspension-damage-text-color: var(--damage-color-ok);


  --relative-view-height: 237px;
  --relative-view-row-height: 27px;

  --delta-positive: rgb(255, 0, 0);
  --delta-negative: rgb(0, 255, 0);
  --delta-neutral: white;
  --delta-color: var(--delta-neutral);


  --time-gray: rgb(157, 157, 157);
  --time-green: rgb(0, 255, 0);
  --time-purple: rgb(202, 0, 202);
}


* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

body,
html {
  background-color: transparent;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

body,
html,
main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#main-container {
  width: calc(100vw - 14px);
  height: calc(100vh - 14px) !important;
  margin: 7px; /* note: this value must match the value of MAIN_CONTAINER_MARGIN in consts.js */
  position: absolute;
  bottom: 0;
  overflow: hidden;

  justify-content: space-between;
}

he {
  background-color: var(--hud-element-background);
  border-radius: 5px;
  align-items: center;
  margin: 2px;
}

.hidden {
  display: none !important;
}


.row {
  display: flex;
  flex-direction: row;
}

.col, .container {
  display: flex;
  flex-direction: column;
}

.center-items {
  align-items: center;
}

.sb {
  justify-content: space-between !important;
}

span {
  width: max-content !important;
  text-align: center;
  margin: 2px 5px 2px 5px !important;
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 1;
  text-shadow: -1px -1px 4px #000,
    1px -1px 4px #000,
    -1px 1px 4px #000,
    1px 1px 4px #000;
}

progress {
  background-color: transparent;
  /* For some reason if this is not set the webkit values
                                    will not work (any color works here) */
  height: 6px;
}

progress::-webkit-progress-value {
  background-color: white;
  border-radius: 6px;
}

progress::-webkit-progress-bar {
  background-color: #424242;
  border-radius: 6px;
}


.dragged {
  position: absolute !important;
}


he#basic {
  width: 217px !important;
}
he#basic td {
  border: 1px solid white;
}

#bottom-left-group {
  align-items: flex-end;
  gap: 15px;
}

#bottom-left-group he {
  padding: 2px;
}

#fuel-data span {
  font-size: 26px;
}

#bottom-left-group span.label {
  font-size: 17px;
}

#fuel-left {
  color: var(--fuel-left-color);
}

#fuel-to-add,
#fuel-to-end {
  color: var(--fuel-to-add-color);
}

#fuel-left,
#fuel-to-add,
#fuel-to-end {
  font-size: 40px !important;
}


#fuel-time {
  color: var(--fuel-left-color);
}

#fuel-laps {
  color: var(--fuel-left-color);
}

#fuel-last-lap {
  color: var(--fuel-last-lap-color);
}

#fuel-per-lap {
  color: var(--fuel-middle-color);
}




#tires {
  text-align: center;
  border-spacing: 7px;
  border-collapse: separate;
  margin: -7px;
}


.wheel {
  position: relative;
}


.wheel > span {
  z-index: 1;
  position: absolute;
  width: calc(100% - 12px) !important;
  margin: 0 !important;
  font-size: 25px !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}

.wheel > span::before {
  content: attr(data-before);
}
.wheel>span::after {
  content: attr(data-after);
}

.wheel>span::before,
.wheel>span::after {
  font-size: 15px;
  height: 15px;
}

.wheel #front-left-wear,
.wheel #rear-left-wear {
  left: 12px !important;
}
.wheel #front-right-wear,
.wheel #rear-right-wear {
  right: 12px !important;
}

.wheel #front-left-wear,
.wheel #front-right-wear {
  top: 28px !important;
}
.wheel #rear-left-wear,
.wheel #rear-right-wear {
  bottom: 30px !important;
}


.wheel .brake-temp div {
  width: 10px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}
.wheel .brake-temp,
.wheel .brake-placeholder {
  width: 12px !important;
  padding: 0;
}

.wheel #front-left-brake div {
  background-color: var(--front-left-brake-color);
}
.wheel #front-right-brake div {
  background-color: var(--front-right-brake-color);
  margin-left: -1px;
}
.wheel #rear-left-brake div {
  background-color: var(--rear-left-brake-color);
}
.wheel #rear-right-brake div {
  background-color: var(--rear-right-brake-color);
  margin-left: -1px;
}


.wheel table {
  table-layout: fixed;
  width: 27px;
}

.wheel td:not(.brake-temp) {
  height: 70px;
  width: 27px;
  padding: 0;
}

.wheel td span {
  font-size: 13px !important;
  margin: 0px !important;
}

.wheel td:not(.tire-visual):not(.brake-temp) {
  height: max-content;
}

#tires progress {
  transform: rotate(-90deg);
  width: 70px;
  height: 27px;
  margin-left: -22px;
}

#tires progress::-webkit-progress-bar {
  background-color: black;
}

#tires #front-left progress::-webkit-progress-bar {
  border: var(--dirty-front-left-size) solid var(--dirty-front-left-color);
}
#tires #front-right progress::-webkit-progress-bar {
  border: var(--dirty-front-right-size) solid var(--dirty-front-right-color);
}
#tires #rear-left progress::-webkit-progress-bar {
  border: var(--dirty-rear-left-size) solid var(--dirty-rear-left-color);
}
#tires #rear-right progress::-webkit-progress-bar {
  border: var(--dirty-rear-right-size) solid var(--dirty-rear-right-color);
}



.wheel table tr td.t1 progress::-webkit-progress-value {
  border-radius: 5px 5px 0px 0px !important;
}
.wheel table tr td.t1 progress::-webkit-progress-bar {
  border-radius: 6px 6px 0px 0px !important;
  border-bottom: 1px solid black !important;
}
.wheel table tr td.t2 progress::-webkit-progress-value,
.wheel table tr td.t2 progress::-webkit-progress-bar {
  border-radius: 0px 0px 0px 0px !important;
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
}
.wheel table tr td.t3 progress::-webkit-progress-value {
  border-radius: 0px 0px 5px 5px !important;
}
.wheel table tr td.t3 progress::-webkit-progress-bar {
  border-radius: 0px 0px 6px 6px !important;
  border-top: 1px solid black !important;
}

#front-left-1 progress::-webkit-progress-value {
  background-color: var(--front-left-1-color);
}
#front-left-2 progress::-webkit-progress-value {
  background-color: var(--front-left-2-color);
}
#front-left-3 progress::-webkit-progress-value {
  background-color: var(--front-left-3-color);
}

#front-right-1 progress::-webkit-progress-value {
  background-color: var(--front-right-1-color);
}
#front-right-2 progress::-webkit-progress-value {
  background-color: var(--front-right-2-color);
}
#front-right-3 progress::-webkit-progress-value {
  background-color: var(--front-right-3-color);
}

#rear-left-1 progress::-webkit-progress-value {
  background-color: var(--rear-left-1-color);
}
#rear-left-2 progress::-webkit-progress-value {
  background-color: var(--rear-left-2-color);
}
#rear-left-3 progress::-webkit-progress-value {
  background-color: var(--rear-left-3-color);
}

#rear-right-1 progress::-webkit-progress-value {
  background-color: var(--rear-right-1-color);
}
#rear-right-2 progress::-webkit-progress-value {
  background-color: var(--rear-right-2-color);
}
#rear-right-3 progress::-webkit-progress-value {
  background-color: var(--rear-right-3-color);
}


#fuel-data {
  height: max-content;
}


#basic table {
  width: 100%;
}

#basic table td {
  width: 50%;
}

#gear-and-assists {
  align-items: center;
}

.assist-icon {
  width: 50px;
}

#abs-icon {
  margin-right: 16px;
  margin-left: 8px;
  filter: grayscale(var(--abs-grayscale)) brightness(var(--abs-brightness));
}
#tc-icon {
  margin-left: 13px;
  margin-right: 11px;
  filter: grayscale(var(--tc-grayscale)) brightness(var(--tc-brightness));
}

#gear {
  font-size: 130px;
  margin: 0 !important;
  margin-top: -3px !important;
  color: var(--revs-color);
}

#gear.one-digit {
  width: 69px !important;
}
#gear:not(.one-digit) {
  width: 117px !important;
}


span#speed {
  font-size: 37px;
  margin-top: -2px !important;
  margin-bottom: 8px !important;
}

progress#revs {
  width: calc(100% - 12px) !important;
  margin-bottom: 6px;
}

progress#revs::-webkit-progress-value {
  background-color: var(--revs-color);
}


#bottom-right-group {
  gap: 5px;
  align-items: flex-end;
  --progress-width: 25px;
}

#driver-inputs {
  height: 238px;
}

#driver-inputs table {
  table-layout: fixed;
  width: var(--progress-width);
  border-spacing: 7px 4px;
  border-collapse: separate;
}

#driver-inputs progress {
  transform: rotate(-90deg);
  width: 119px;
  height: var(--progress-width);
  margin-left: -47px;
}

#driver-inputs progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2)
}

#throttle-progress::-webkit-progress-value {
  background-color: rgb(0, 170, 0);
}
#brake-progress::-webkit-progress-value {
  background-color: rgb(255, 0, 0);
}
#clutch-progress::-webkit-progress-value {
  background-color: rgb(0, 0, 255);
}

#input-numbers td {
  width: var(--progress-width);
  padding: 0;
}

#input-numbers span {
  font-size: 15px;
  margin: 0 !important;
  display: block;
  text-align: center;
  width: 100% !important;
}

#input-progress td {
  width: var(--progress-width);
  height: 119px;
  padding: 0px;
}

#steering-wheel {
  width: 90px;
}
#steering-wheel-container {
  width: 90px;
  height: 90px;
  overflow: hidden;
}



#damage {
  margin-bottom: 7px;
}

#damage td * {
  vertical-align: middle;
}

#damage tr {
  line-height: 25px;
}

#damage span {
  margin: 0 !important;
  margin-right: 15px !important;
}

#damage progress {
  height: 13px;
  filter: drop-shadow(0 0 5px black);
}

#engine-damage progress::-webkit-progress-value {
  background-color: var(--engine-damage-color);
}
#transmission-damage progress::-webkit-progress-value {
  background-color: var(--transmission-damage-color);
}
#suspension-damage progress::-webkit-progress-value {
  background-color: var(--suspension-damage-color);
}
#aerodynamics-damage progress::-webkit-progress-value {
  background-color: var(--aerodynamics-damage-color);
}

#engine-damage span {
  color: var(--engine-damage-text-color);
}
#transmission-damage span {
  color: var(--transmission-damage-text-color);
}
#suspension-damage span {
  color: var(--suspension-damage-text-color);
}
#aerodynamics-damage span {
  color: var(--aerodynamics-damage-text-color);
}


#relative-viewer {
  padding-left: 2px;
  padding-right: 2px;
}

#relative-viewer table {
  table-layout: fixed;
  height: var(--relative-view-height);
  border-spacing: 0 2px;
  border-collapse: separate;
  min-width: 400px;
}

#relative-viewer tr:not(.last-row) {
  height: var(--relative-view-row-height);
}

#relative-viewer td {
  padding: 1px;
}

#relative-viewer td span {
  font-size: 17px;
  line-height: 1.2;
  white-space: nowrap;
  display: block;
}

#relative-viewer td.name span {
  margin-left: 0px !important;
  text-align: left;
  max-width: 130px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

#relative-viewer td.place-class span {
  margin-left: 4px !important;
  margin-right: 7px !important;
}

#relative-viewer td.car-name span {
  color: gray;
  font-weight: 300;
  width: 165px !important;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

#relative-viewer td.ranked span {
  border-radius: 5px;
  background-color: white;
  color: black;
  text-shadow: none;
  padding-right: 3px;
  padding-left: 3px;
  font-weight: 500;
}

#relative-viewer td.pit span {
  border-radius: 3px;
  background-color: blue;
  color: white;
  text-shadow: none;
  padding-right: 4px;
  padding-left: 5px;
  font-weight: 400;
}

#relative-viewer td.time-delta span {
  width: 40px !important;
  text-align: right;
}

#relative-viewer td.class-color {
  padding: 0;
  padding-right: 5px;
}


#relative-viewer td.class-img {
  padding: 0;
}
#relative-viewer td.class-img div {
  display: block;
  height: 26px;
}
#relative-viewer td.class-img img {
  width: 26px;
  margin-right: 4px;
}


#top-group .value {
  font-size: 45px;
}

#top-group .container {
  align-items: center;
  padding: 10px;
}

#top-right-group,
#top-left-group {
  gap: 70px;
}

#laps-left {
  width: 120px !important;
  text-align: center;
  direction: rtl;
}

#time-left-container {
  align-items: center;
}

#time-left {
  width: 180px;
  text-align: center;
  direction: rtl;
}

#current-laptime {
  width: 180px !important;
}

#time-left span {
  margin: 0 !important;
  margin-right: 1px !important;
}

#time-left-hours::after {
  content: "h";
}
#time-left-minutes::after {
  content: "m";
}
#time-left-seconds::after {
  content: "s";
}
#time-left span::after, #top-group .label {
  color: #e5e5e5;
  font-size: 23px;
}

#radar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute !important;
  top: calc(100vh - 300px - 15px);
  left: calc(50% - 150px);
  overflow: hidden;
  background-size: contain;
}

#radar .radar-car {
  position: absolute;
  border-radius: 6px;
  background-color: red;
}

#radar .radar-car-self {
  background-color: white;
}


#delta {
  width: max-content;
  position: absolute;
  top: 20px;
  left: calc(50% - 150px);
  gap: 10px;
}

#delta-number {
  font-size: 33px;
  color: var(--delta-color);
  text-align: left;
  width: 94px !important;
}

#delta-bar-container {
  position: relative;
  background-color: rgba(15, 15, 15, 0.6);
  height: 22px;
  width: 300px;
}

#delta-bar {
  position: absolute !important;
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  background-color: var(--delta-color);
}



#sector-times {
  position: absolute !important;
  top: 130px;
  left: calc(50% - 123px);
  height: 26px;
  width: 246px !important;
  justify-content: flex-start;
  gap: 2px;
}

#sector-times span {
  font-size: 20px;
  background-color: var(--time-gray);
  width: 80px !important;
  height: 100%;
  text-align: center;
  color: white;
  margin: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


#pit-timer {
  position: absolute !important;
  right: 10px;
  top: calc(50% + 245px);
  translate: 0px -50%;

  width: 648px;
  text-align: center;

  padding-top: 4px;
  padding-bottom: 4px;
}

#pit-timer span {
  font-size: 30px;
}



#position-bar {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;

  overflow: visible !important;

  height: 90px;
  background-color: rgba(35, 35, 35, 0.45);

  translate: -50%;
}
#position-bar:not(.dragged) {
  margin-left: 50%;
}

#position-bar .position-bar-driver {
  flex: 1 1 0px;

  height: 100%;

  justify-content: space-between;
  align-items: center;

  max-width: 230px;
}

#position-bar .position-bar-driver div.col {
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 10px);
  width: 150px;
}

.position-bar-driver-position {
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 90px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 0 !important;
  width: 18px !important; /* 18px + 2 * 7px = 32px */
}

#tv-tower {
  width: fit-content;
  overflow: visible !important;

  height: fit-content;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  border-radius: 5px 5px 5px 0px;
  padding-left: 3px;

  position: fixed;
  top: 300px;
  left: 12px;
}


#tv-tower .tv-tower-driver {
  height: 19px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
  border-bottom: 1px solid rgba(134, 134, 134, 0.3);
  border-radius: 0px 0px 5px 0px;
}

#tv-tower .tv-tower-driver .tv-tower-driver-position {
  display: inline-block;
  width: 26px;
  height: 100%;
  background-color: rgb(134, 134, 134);
  border-radius: 7px 0px 0px 0px;
}

#tv-tower .tv-tower-driver .tv-tower-driver-class {
  display: inline-block;
  width: 4px;
  height: 100%;
  border-radius: 0px 0px 3px 0px;
}

#tv-tower .tv-tower-driver .tv-tower-driver-name {
  display: inline-block;
  width: 150px;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: 4px;
}

#tv-tower .tv-tower-driver .tv-tower-driver-car-image {
  position: relative;
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  background-size: 20px 20px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#tv-tower .tv-tower-driver .tv-tower-driver-rating {
  margin-right: 1px;
  display: inline-block;
  width: 40px;
  height: 17px;
  position: relative;
  top: -4px;
  border-radius: 5px 0px 0px 5px;
}

#tv-tower .tv-tower-driver .tv-tower-driver-reputation {
  display: inline-block;
  width: 25px;
  height: 17px;
  position: relative;
  top: -4px;
  border-radius: 0px 5px 5px 0px;
}

#tv-tower .tv-tower-driver .tv-tower-driver-laptime {
  display: inline-block;
  width: 60px;
  margin-left: 20px;
  margin-right: 10px;
  height: 100%;
}

#tv-tower .tv-tower-driver .tv-tower-driver-delta {
  display: inline-block;
  height: 100%;
  margin-right: 5px;
  width: fit-content;
  background-repeat: round;
}

#tv-tower .tv-tower-driver div.tv-tower-driver-position {
  text-align: center;
  translate: 0px -2px;
  position:relative;
  font-weight: 400;
  font-size: 18px;
  color: white;
  line-height: 1;
  text-shadow: -1px -1px 3px #000,
    1px -1px 4px #000,
    -1px 1px 4px #000,
    1px 1px 4px #000;
}

#tv-tower .tv-tower-driver div.tv-tower-driver-name {
  letter-spacing: 1.2px;
  white-space: nowrap;
  padding-left: 8px;
  translate: 0px -4px;
  font-weight: 400;
  font-size: 17px;
  color: white;
  line-height: 1;
  text-shadow: -1px -1px 3px #000,
    1px -1px 4px #000,
    -1px 1px 4px #000,
    1px 1px 4px #000;
}

#tv-tower .tv-tower-driver div.tv-tower-driver-rating, #tv-tower .tv-tower-driver div.tv-tower-driver-reputation {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: rgb(0, 0, 0);
  line-height: 1;
  background-color: rgb(255, 255, 255);
}

#tv-tower .tv-tower-driver div.tv-tower-driver-laptime {
  text-align: left;
  letter-spacing: 0.8px;
  translate: 0px -3px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  text-shadow: -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
}
#tv-tower .tv-tower-driver div.tv-tower-driver-delta {
  translate: 0px -3px;
  text-align: center;
  letter-spacing: 0.8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  text-shadow: -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
}

#p2p, #drs, #rake {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#rake {
  position: absolute;
  left: 20px;
  bottom: 220px;

  width: 170px;
  height: 108px;
}
#car-side {
  width: 80% !important;
  filter: drop-shadow(0 0 2px black);
}
#rake-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
  background-image: url("../icons/rake-bar.svg");
  background-repeat: round;
  filter: drop-shadow(0 0 2px black);
}
#rake-bar-number {
  font-size: 30px !important;
}
#rake-bar-pointer {
  width: 3%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}



#p2p, #drs {
  position: absolute;
  bottom: 260px;

  width: 110px;
  height: 54px;
}
#drs {
  right: 15px !important;
}
#p2p {
  right: 145px;
}

#drs-symbol {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  filter: drop-shadow(0 0 5px black);
  border: 2px solid white;
}
#p2p-bar {
  display: flex;
  justify-content: center;
  border-radius: 5px;

  width: 100%;
  height: 24px;
  border: 1px solid white;
}
#p2p-container {
  filter: drop-shadow(0 0 5px black);
}
