:root {
  --hud-element-background: rgba(0, 0, 0, 0.6);

  --revs-color-normal: white;
  --revs-color-upshift: rgb(0, 255, 0);
  --revs-color-redline: rgb(255, 0, 0);
  --revs-color: var(--revs-color-normal);

  --fuel-middle-color: rgb(127.5, 127.5, 0);
  --fuel-left-color: rgb(0, 255, 0);
  --fuel-last-lap-color: var(--fuel-middle-color);
  --fuel-to-add-color: var(--fuel-middle-color);


  --temp-color-normal: rgb(0, 0, 255);

  --front-left-1-color: var(--temp-color-normal);
  --front-left-2-color: var(--temp-color-normal);
  --front-left-3-color: var(--temp-color-normal);

  --front-right-1-color: var(--temp-color-normal);
  --front-right-2-color: var(--temp-color-normal);
  --front-right-3-color: var(--temp-color-normal);

  --rear-left-1-color: var(--temp-color-normal);
  --rear-left-2-color: var(--temp-color-normal);
  --rear-left-3-color: var(--temp-color-normal);

  --rear-right-1-color: var(--temp-color-normal);
  --rear-right-2-color: var(--temp-color-normal);
  --rear-right-3-color: var(--temp-color-normal);


  --dirty-front-left-size: 2px;
  --dirty-front-right-size: 2px;
  --dirty-rear-left-size: 2px;
  --dirty-rear-right-size: 2px;

  --dirty-front-left-color: rgb(255, 50, 50);
  --dirty-front-right-color: rgb(255, 50, 50);
  --dirty-rear-left-color: rgb(255, 50, 50);
  --dirty-rear-right-color: rgb(255, 50, 50);

  --front-left-brake-color: var(--temp-color-normal);
  --front-right-brake-color: var(--temp-color-normal);
  --rear-left-brake-color: var(--temp-color-normal);
  --rear-right-brake-color: var(--temp-color-normal);

  --abs-grayscale: 1;
  --abs-brightness: 1;
  --tc-grayscale: 1;
  --tc-brightness: 1;


  --damage-color-ok: white;
  --damage-color-partial: rgb(235, 121, 14);
  --damage-color-full: rgb(255, 0, 0);

  --engine-damage-color: white;
  --aerodynamics-damage-color: white;
  --transmission-damage-color: white;
  --suspension-damage-color: white;


  --relative-view-height: 236px;
}


* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

body,
html {
  background-color: transparent;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}

#main-container {
  width: calc(100vw - 14px);
  height: calc(100vh - 14px) !important;
  margin: 7px;
  position: absolute;
  bottom: 0;
  overflow: hidden;

  justify-content: space-between;
  height: max-content;
}

he {
  background-color: var(--hud-element-background);
  border-radius: 5px;
  align-items: center;
  margin: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col, .container {
  display: flex;
  flex-direction: column;
}

.sb {
  justify-content: space-between !important;
}

span {
  width: max-content !important;
  text-align: center;
  margin: 2px 5px 2px 5px !important;
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 1;
  text-shadow: -1px -1px 4px #000,
    1px -1px 4px #000,
    -1px 1px 4px #000,
    1px 1px 4px #000;
}

progress {
  background-color: transparent;
  /* For some reason if this is not set the webkit values
                                    will not work (any color works here) */
  height: 6px;
}

progress::-webkit-progress-value {
  background-color: white;
  border-radius: 6px;
}

progress::-webkit-progress-bar {
  background-color: #424242;
  border-radius: 6px; /* 2px */
}

he#basic {
  min-width: 217px !important;
}
he#basic td {
  border: 1px solid white;
}

#bottom-left-group {
  align-items: flex-end;
  gap: 15px;
}

#bottom-left-group he {
  padding: 2px;
}

#fuel-data span {
  font-size: 26px;
}

#bottom-left-group span.label {
  font-size: 17px;
}

#fuel-left {
  color: var(--fuel-left-color);
}

#fuel-to-add,
#fuel-to-end {
  color: var(--fuel-to-add-color);
}

#fuel-left,
#fuel-to-add,
#fuel-to-end {
  font-size: 40px !important;
}


#fuel-time {
  color: var(--fuel-left-color);
}

#fuel-laps {
  color: var(--fuel-left-color);
}

#fuel-last-lap {
  color: var(--fuel-last-lap-color);
}

#fuel-per-lap {
  color: var(--fuel-middle-color);
}




#tires {
  text-align: center;
  border-spacing: 7px;
  border-collapse: separate;
  margin: -7px;
}


.wheel {
  position: relative;
}


.wheel > span {
  z-index: 1;
  position: absolute;
  width: calc(100% - 12px) !important;
  margin: 0 !important;
  font-size: 25px !important;
}

.wheel #front-left-wear,
.wheel #rear-left-wear {
  left: 12px !important;
}
.wheel #front-right-wear,
.wheel #rear-right-wear {
  right: 12px !important;
}

.wheel #front-left-wear,
.wheel #front-right-wear {
  bottom: 25px !important;
}
.wheel #rear-left-wear,
.wheel #rear-right-wear {
  top: 22px !important;
}


.wheel .brake-temp div {
  width: 10px;
  height: 40px;
  margin-left: -1px;
  border: 1px solid black;
  border-radius: 5px;
}
.wheel .brake-temp,
.wheel .brake-placeholder {
  width: 12px !important;
  padding: 0;
}

.wheel #front-left-brake div {
  background-color: var(--front-left-brake-color);
  margin-left: 0px;
}
.wheel #front-right-brake div {
  background-color: var(--front-right-brake-color);
}
.wheel #rear-left-brake div {
  background-color: var(--rear-left-brake-color);

  margin-left: 0px;
}
.wheel #rear-right-brake div {
  background-color: var(--rear-right-brake-color);
}


.wheel table {
  table-layout: fixed;
  width: 27px;
}

.wheel td:not(.brake-temp) {
  height: 70px;
  width: 27px;
  padding: 0;
}

.wheel td span {
  font-size: 13px !important;
  margin: 0px !important;
}

.wheel td:not(.tire-visual):not(.brake-temp) {
  height: max-content;
}

#tires progress {
  transform: rotate(-90deg);
  width: 70px;
  height: 27px;
  margin-left: -22px;
}

#tires progress::-webkit-progress-bar {
  background-color: black;
  /* border: 1px solid black; */
  
}

#tires #front-left progress::-webkit-progress-bar {
  border: var(--dirty-front-left-size) solid var(--dirty-front-left-color);
}
#tires #front-right progress::-webkit-progress-bar {
  border: var(--dirty-front-right-size) solid var(--dirty-front-right-color);
}
#tires #rear-left progress::-webkit-progress-bar {
  border: var(--dirty-rear-left-size) solid var(--dirty-rear-left-color);
}
#tires #rear-right progress::-webkit-progress-bar {
  border: var(--dirty-rear-right-size) solid var(--dirty-rear-right-color);
}



.wheel table tr td.t1 progress::-webkit-progress-value {
  border-radius: 5px 5px 0px 0px !important;
}
.wheel table tr td.t1 progress::-webkit-progress-bar {
  border-radius: 6px 6px 0px 0px !important;
  border-bottom: 1px solid black !important;
}
.wheel table tr td.t2 progress::-webkit-progress-value,
.wheel table tr td.t2 progress::-webkit-progress-bar {
  border-radius: 0px 0px 0px 0px !important;
  border-bottom: 1px solid black !important;
  border-top: 1px solid black !important;
}
.wheel table tr td.t3 progress::-webkit-progress-value {
  border-radius: 0px 0px 5px 5px !important;
}
.wheel table tr td.t3 progress::-webkit-progress-bar {
  border-radius: 0px 0px 6px 6px !important;
  border-top: 1px solid black !important;
}

#front-left-1 progress::-webkit-progress-value {
  background-color: var(--front-left-1-color);
}
#front-left-2 progress::-webkit-progress-value {
  background-color: var(--front-left-2-color);
}
#front-left-3 progress::-webkit-progress-value {
  background-color: var(--front-left-3-color);
}

#front-right-1 progress::-webkit-progress-value {
  background-color: var(--front-right-1-color);
}
#front-right-2 progress::-webkit-progress-value {
  background-color: var(--front-right-2-color);
}
#front-right-3 progress::-webkit-progress-value {
  background-color: var(--front-right-3-color);
}

#rear-left-1 progress::-webkit-progress-value {
  background-color: var(--rear-left-1-color);
}
#rear-left-2 progress::-webkit-progress-value {
  background-color: var(--rear-left-2-color);
}
#rear-left-3 progress::-webkit-progress-value {
  background-color: var(--rear-left-3-color);
}

#rear-right-1 progress::-webkit-progress-value {
  background-color: var(--rear-right-1-color);
}
#rear-right-2 progress::-webkit-progress-value {
  background-color: var(--rear-right-2-color);
}
#rear-right-3 progress::-webkit-progress-value {
  background-color: var(--rear-right-3-color);
}


#fuel-data {
  height: max-content;
}


#basic table {
  width: 100%;
}

#basic table td {
  width: 50%;
}

#gear-and-assists {
  align-items: center;
}

.assist-icon {
  width: 50px;
}

#abs-icon {
  margin-right: 16px;
  margin-left: 8px;
  filter: grayscale(var(--abs-grayscale)) brightness(var(--abs-brightness));
}
#tc-icon {
  margin-left: 13px;
  margin-right: 11px;
  filter: grayscale(var(--tc-grayscale)) brightness(var(--tc-brightness));
}

span#gear {
  font-size: 130px;
  margin: 0 !important;
  margin-top: -3px !important;
  color: var(--revs-color);
  width: 69px !important;
}


span#speed {
  font-size: 37px;
  margin-top: -2px !important;
  margin-bottom: 8px !important;
}

progress#revs {
  width: calc(100% - 12px) !important;
  margin-bottom: 6px;
}

progress#revs::-webkit-progress-value {
  background-color: var(--revs-color);
}


#bottom-right-group {
  gap: 5px;
  align-items: flex-end;
  --progress-width: 25px;
}

#driver-inputs {
  height: max-content;
}

#driver-inputs table {
  table-layout: fixed;
  width: var(--progress-width);
  border-spacing: 7px 4px;
  border-collapse: separate;
}

#driver-inputs progress {
  transform: rotate(-90deg);
  width: 119px;
  height: var(--progress-width);
  margin-left: -47px;
}

#driver-inputs progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2)
}

#throttle-progress::-webkit-progress-value {
  background-color: rgb(0, 170, 0);
}
#brake-progress::-webkit-progress-value {
  background-color: rgb(255, 0, 0);
}
#clutch-progress::-webkit-progress-value {
  background-color: rgb(0, 0, 255);
}

#input-numbers td {
  width: var(--progress-width);
  padding: 0;
}

#input-numbers span {
  font-size: 15px;
  margin: 0 !important;
  display: block;
  text-align: center;
  width: 100% !important;
}

#input-progress td {
  width: var(--progress-width);
  height: 119px;
  padding: 0px;
}

#steering-wheel {
  width: 90px;
}
#steering-wheel-container {
  width: 90px;
  height: 90px;
  overflow: hidden;
}



#damage {
  margin-bottom: 7px;
}

#damage td * {
  vertical-align: middle;
}

#damage tr {
  line-height: 25px;
}

#damage span {
  margin: 0 !important;
  margin-right: 15px !important;
}

#damage progress {
  height: 13px;
}

#engine-damage progress::-webkit-progress-value {
  background-color: var(--engine-damage-color);
}
#transmission-damage progress::-webkit-progress-value {
  background-color: var(--transmission-damage-color);
}
#suspension-damage progress::-webkit-progress-value {
  background-color: var(--suspension-damage-color);
}
#aerodynamics-damage progress::-webkit-progress-value {
  background-color: var(--aerodynamics-damage-color);
}


#relative-viewer {
  margin-bottom: auto;
  padding-left: 2px;
  padding-right: 2px;
}

#relative-viewer table {
  table-layout: fixed;
  height: 236px;
  border-spacing: 0 2px;
  border-collapse: separate;
}

#relative-viewer td {
  padding: 1px;
}

#relative-viewer td span {
  font-size: 17px;
  line-height: 1.2;
  white-space: nowrap;
  display: block;
}

#relative-viewer td.name span {
  margin-left: 0px !important;
  text-align: left;
  max-width: 130px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

#relative-viewer td.place-class span {
  margin-left: 4px !important;
  margin-right: 7px !important;
}

#relative-viewer td.car-name span {
  color: gray;
  font-weight: 300;
}

#relative-viewer td.time-delta span {
  width: 50px !important;
  text-align: right;
}

#relative-viewer td.class-color {
  padding: 0;
  padding-right: 5px;
}


#relative-viewer td.class-img {
  padding: 0;
}
#relative-viewer td.class-img div {
  display: block;
  height: 26px;
}
#relative-viewer td.class-img img {
  width: 26px;
  margin-right: 4px;
}


#top-group .value {
  font-size: 45px;
}

#top-group .container {
  align-items: center;
  margin: 10px;
}

#top-right-group {
  gap: 70px;
}

#laps-left {
  width: 120px !important;
  text-align: center;
  direction: rtl;
}

#time-left-container {
  align-items: center;
  /* margin: 10px; */
}

#time-left {
  width: 180px;
  text-align: center;
  direction: rtl;
}

#time-left span {
  margin: 0 !important;
  margin-right: 1px !important;
}

#time-left-hours::after {
  content: "h";
}
#time-left-minutes::after {
  content: "m";
}
#time-left-seconds::after {
  content: "s";
}
#time-left span::after, #top-group .label {
  color: #e5e5e5;
  font-size: 23px;
}


#radar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(100vh - 300px - 15px);
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background-size: contain;
  opacity: 0.8;
}

#radar .radar-car {
  position: absolute;
  border-radius: 6px;
  background-color: red;
}

#radar .radar-car-self {
  background-color: white;
}
