:root {
    --theme-color-1: #b95600;
    --theme-color-2: #894a14;
    --theme-color-3: #813c00;
    --theme-color-4: #7b5133;
}


body {
    background-color: #3e3e3e;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    user-select: none;
}

label {
    color: #fff;
    margin-right: 5px;
}

button {
    border: none;
    outline: none !important;
    background-color: #2c2c2c;
    color: #c1c1c1;
    border-radius: 5px;
    padding: 3px 12px 3px 12px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

button:hover {
    background-color: #212121;
    cursor: pointer;
}

button.selected {
    background-color: var(--theme-color-3);
}

input {
    outline: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.setting {
    display: block;
    margin-bottom: 8px;
}

.switch {
    display: inline-block;
    position: relative;
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 24px;
}

.switch__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    opacity: 0;
    z-index: 0;
}

.switch__label {
    display: block;
    padding: 0 0 0 44px;
    cursor: pointer;
}

.switch__label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 14px;
    background-color: #a3a3a3;
    border-radius: 14px;
    z-index: 1;
    transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch__label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: left, background-color;
}

.switch__input:checked+.switch__label:after {
    left: 20px;
    background-color: var(--theme-color-2);
}


/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    gap: 6px;

    background-color: #4a4a4a;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    color: white;
    border-radius: 0px;
    outline: none;
    cursor: pointer;
    padding: 8px 15px 8px 15px;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 2px solid white !important;
}

/* Style the tab content */
.tabcontent:not(.active) {
    display: none;
}

.tabcontent.active {
    display: block;
    padding: 10px;
}


.tab button.main-tabs {
    font-size: 20px;
}

.tab button.active.layout-preset-tabs span {
    margin-bottom: -1px;
}


#radar-beep-volume-text {
    width: 45px;
    border: none;
    outline: none !important;
    border-radius: 4px;
    padding: 2px;
}

.slider {
    appearance: none;
    height: 8px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--theme-color-1);
    cursor: pointer;
}

#element-toggles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 30px;
}

.element-toggle {
    flex-basis: 30%;
    min-width: max-content;
}

.element-toggle label {
    margin-left: 5px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
}

.tooltip {
    color: white;
    vertical-align: middle;
    margin-bottom: 2px;
    font-size: 26px !important;
}


#layout-preset-tabs {
    background: transparent;
    margin-bottom: 10px;
}

#layout-preset-tabs > button:not(#new-layout-preset) {
    padding: 0;
    padding-bottom: 2px;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
}

#layout-preset-tabs > button:disabled,
#layout-preset-tabs > button:disabled:not(.active) span {
    cursor: default !important;
}

#layout-preset-tabs > button:disabled:not(.active) {
    opacity: 0.5;
}

#layout-preset-tabs > button > span.layout-name {
    outline: none !important;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    color: #f0f0f0;
}
#layout-preset-tabs > button:disabled.active {
    background-color: #585858;
}
#layout-preset-tabs > button > span.layout-name[contenteditable="true"]:hover {
    cursor: text;
}
#layout-preset-tabs > button > span.layout-name[contenteditable="false"]:hover {
    cursor: pointer;
}

#new-layout-preset {
    padding: 0 !important;
}

span.icon-button {
    padding: 4px !important;
    border-radius: 50%;
    vertical-align: middle;
    transition: background-color 0.08s ease-out;
}

span.icon-button:not(.disabled):hover {
    background-color: #2e2e2e;
    cursor: pointer;
    transition: background-color 0s;
}

#isReplayLayout {
    display: inline-block;
    margin-left: 1px;
}
#isReplayLayout > div > label::after {
    transition: all 0.1s;
}


.restart-button {
    display: inline;
    margin-left: 10px;
}

.restart-button.hidden {
    display: none;
}



#show-log-file {
    position: fixed;
    right: 0;
    top: 0;
    margin: 7px;
    margin-right: 10px;
    height: 34px;
    font-size: 20px;
    line-height: 20px;
    background-color: transparent;
    color: rgb(240, 240, 240);
    transition: color 0.13s;
}

#show-log-file:hover {
    color: rgb(189, 189, 189);
}


#buy-me-a-coffee {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 15px;
    cursor: pointer;
    height: 55px;
    transition: opacity 0.13s;
}

#buy-me-a-coffee:hover {
    opacity: 0.8;
}

#buy-me-a-coffee img {
    height: 100%;
}


#version {
    position: fixed;
    bottom: 5px;
    left: 50%;
    translate: -50%;
    color: rgb(118, 118, 118);
    font-size: 17px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
