:root {
  --revs-color-normal: white;
  --revs-color-upshift: rgb(0, 255, 0);
  --revs-color-redline: rgb(255, 0, 0);
  --revs-color: var(--revs-color-normal);

  --fuel-middle-color: rgb(127.5, 127.5, 0);
  --fuel-left-color: rgb(0, 255, 0);
  --fuel-last-lap-color: var(--fuel-middle-color);
  --fuel-to-add-color: var(--fuel-middle-color);


  --temp-color-normal: rgb(0, 0, 255);

  --front-left-1-color: var(--temp-color-normal);
  --front-left-2-color: var(--temp-color-normal);
  --front-left-3-color: var(--temp-color-normal);

  --front-right-1-color: var(--temp-color-normal);
  --front-right-2-color: var(--temp-color-normal);
  --front-right-3-color: var(--temp-color-normal);

  --rear-left-1-color: var(--temp-color-normal);
  --rear-left-2-color: var(--temp-color-normal);
  --rear-left-3-color: var(--temp-color-normal);

  --rear-right-1-color: var(--temp-color-normal);
  --rear-right-2-color: var(--temp-color-normal);
  --rear-right-3-color: var(--temp-color-normal);

  --front-left-brake-color: var(--temp-color-normal);
  --front-right-brake-color: var(--temp-color-normal);
  --rear-left-brake-color: var(--temp-color-normal);
  --rear-right-brake-color: var(--temp-color-normal);
}


* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html {
  background-color: transparent;
  margin: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#main-container {
  width: calc(100vw - 14px);
  height: calc(100vh - 14px);
  margin: 7px;
  position: relative;
}

he {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  align-items: center;
  margin: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.sb {
  justify-content: space-between;
}

span {
  width: max-content !important;
  text-align: center;
  margin: 2px 5px 2px 5px !important;
  font-weight: 500;
  font-size: 20px;
  color: white;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  text-shadow: -1px -1px 4px #000,
    1px -1px 4px #000,
    -1px 1px 4px #000,
    1px 1px 4px #000;
}

progress {
  background-color: transparent;
  /* For some reason if this is not set the webkit values
                                    will not work (any color works here) */
  height: 6px;
}

progress::-webkit-progress-value {
  background-color: white;
  border-radius: 6px;
}

progress::-webkit-progress-bar {
  background-color: #424242;
  border-radius: 6px; /* 2px */
}

he#basic {
  position: absolute;
  right: 0;
  bottom: 0;
}

he#basic td {
  border: 1px solid white;
}

#fuel-and-tires {
  align-items: flex-end;
  gap: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#fuel-and-tires he {
  padding: 2px;
}

#fuel-and-tires span {
  font-size: 26px;
}

#fuel-and-tires span.label {
  font-size: 17px;
}

#fuel-left {
  color: var(--fuel-left-color);
}

#fuel-to-add,
#fuel-to-end {
  color: var(--fuel-to-add-color);
}

#fuel-left,
#fuel-to-add,
#fuel-to-end {
  font-size: 40px !important;
}


#fuel-time {
  color: var(--fuel-left-color);
}

#fuel-laps {
  color: var(--fuel-left-color);
}

#fuel-last-lap {
  color: var(--fuel-last-lap-color);
}

#fuel-per-lap {
  color: var(--fuel-middle-color);
}




#tires {
  text-align: center;
}


.wheel {
  margin: 4px;
  position: relative;
}


.wheel > span {
  z-index: 1;
  position: absolute;
  width: calc(100% - 12px) !important;
  margin: 0 !important;
  font-size: 25px !important;
}

.wheel #front-left-wear,
.wheel #rear-left-wear {
  left: 12px !important;
}
.wheel #front-right-wear,
.wheel #rear-right-wear {
  right: 12px !important;
}

.wheel #front-left-wear,
.wheel #front-right-wear {
  bottom: 25px !important;
}
.wheel #rear-left-wear,
.wheel #rear-right-wear {
  top: 22px !important;
}


.wheel .brake-temp div {
  width: 10px;
  height: 40px;
  margin-left: -2px;
  border: 1px solid black;
  border-radius: 5px;
}
.wheel .brake-temp,
.wheel .brake-placeholder {
  width: 10px !important;
}

.wheel #front-left-brake div {
  background-color: var(--front-left-brake-color);
  margin-left: -3px;
}
.wheel #front-right-brake div {
  background-color: var(--front-right-brake-color);
}
.wheel #rear-left-brake div {
  background-color: var(--rear-left-brake-color);

  margin-left: -2px; /* no idea why this isn't -2px like the rest */
}
.wheel #rear-right-brake div {
  background-color: var(--rear-right-brake-color);
}


.wheel table {
  table-layout: fixed;
  width: 27px;
}

.wheel td:not(.brake-temp) {
  height: 70px;
  width: 27px;
  padding: 0;
}

.wheel td span {
  font-size: 13px !important;
  margin: 0px !important;
}

.wheel td:not(.tire-visual):not(.brake-temp) {
  height: max-content;
}

#tires progress {
  transform: rotate(-90deg);
  width: 70px;
  height: 27px;
  margin-left: -22px;
}

#tires progress::-webkit-progress-bar {
  background-color: black;
  border: 0.5px solid black;
}

.wheel table tr td.t1 progress::-webkit-progress-value,
.wheel table tr td.t1 progress::-webkit-progress-bar {
  border-radius: 6px 6px 0px 0px !important;
}
.wheel table tr td.t2 progress::-webkit-progress-value,
.wheel table tr td.t2 progress::-webkit-progress-bar {
  border-radius: 0px 0px 0px 0px !important;
}
.wheel table tr td.t3 progress::-webkit-progress-value,
.wheel table tr td.t3 progress::-webkit-progress-bar {
  border-radius: 0px 0px 6px 6px !important;
}

#front-left-1 progress::-webkit-progress-value {
  background-color: var(--front-left-1-color);
}
#front-left-2 progress::-webkit-progress-value {
  background-color: var(--front-left-2-color);
}
#front-left-3 progress::-webkit-progress-value {
  background-color: var(--front-left-3-color);
}

#front-right-1 progress::-webkit-progress-value {
  background-color: var(--front-right-1-color);
}
#front-right-2 progress::-webkit-progress-value {
  background-color: var(--front-right-2-color);
}
#front-right-3 progress::-webkit-progress-value {
  background-color: var(--front-right-3-color);
}

#rear-left-1 progress::-webkit-progress-value {
  background-color: var(--rear-left-1-color);
}
#rear-left-2 progress::-webkit-progress-value {
  background-color: var(--rear-left-2-color);
}
#rear-left-3 progress::-webkit-progress-value {
  background-color: var(--rear-left-3-color);
}

#rear-right-1 progress::-webkit-progress-value {
  background-color: var(--rear-right-1-color);
}
#rear-right-2 progress::-webkit-progress-value {
  background-color: var(--rear-right-2-color);
}
#rear-right-3 progress::-webkit-progress-value {
  background-color: var(--rear-right-3-color);
}


#fuel-data {
  height: max-content;
}




span#gear {
  font-size: 130px;
  margin-top: -3px !important;
  color: var(--revs-color);
}

span#speed {
  font-size: 37px;
  margin-top: -2px !important;
  margin-bottom: 8px !important;
}

progress#revs {
  width: calc(100% - 12px) !important;
  margin-bottom: 6px;
}

progress#revs::-webkit-progress-value {
  background-color: var(--revs-color);
}