@page
@model IndexModel

<div id="main-container">
    @* he = hud-element *@
    <he class="col" id="basic">
        <table>
            <tr>
                <td><span id="engine-map"></span></td>
                <td><span id="traction-control"></span></td>
            </tr>
            <tr>
                <td><span id="engine-brake"></span></td>
                <td><span id="brake-bias"></span></td>
            </tr>
        </table>
        <span id="gear" class="center"></span>
        <span id="speed" class="center"></span>
    </he>
</div>

