@page
@model IndexModel

<div id="main-container">
    @* he = hud-element *@
    <he class="col" id="basic">
        <table>
            <tr>
                <td><span id="engine-map"></span></td>
                <td><span id="traction-control"></span></td>
            </tr>
            <tr>
                <td><span id="engine-brake"></span></td>
                <td><span id="brake-bias"></span></td>
            </tr>
        </table>
        <span id="gear"></span>
        <span id="speed"></span>
        <progress id="revs" max="100" value="0"></progress>
    </he>

    <div class="row" id="fuel-and-tires">
        <he class="col sb">
            <span></span>
            <span id="fuel-left">50</span>
            <span class="label">Fuel Left</span>
        </he>
        <table>
            <tr>
                <td>
                    <he class="col">
                        <span class="label">Time Estimate</span>
                        <span id="fuel-time"></span>
                    </he>
                </td>
                <td>
                    <he class="col">
                        <span class="label">Last Lap</span>
                        <span id="fuel-last-lap"></span>
                    </he>
                </td>
            </tr>
            <tr>
                <td>
                    <he class="col">
                        <span id="fuel-laps">N/A</span>
                        <span class="label">Laps Estimate</span>
                    </he>
                </td>
                <td>
                    <he class="col">
                        <span id="fuel-per-lap"></span>
                        <span class="label">Fuel / Lap</span>
                    </he>
                </td>
            </tr>
        </table>
    </div>
</div>

