@page
@model IndexModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <title>ReHUD</title>

    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

    <script src="~/dist/index-bundle.js" asp-append-version="true"></script>
</head>

@* he = hud-element *@
<div id="main-container" class="col sb">

    <div id="top-group-container" class="col">

        <div id="position-bar" class="row">
            @for (int i = 0; i < 13; i++)
            {
                @:
                <div id="position-bar-driver-@i" class="position-bar-driver row">
                    <span class="position-bar-driver-position"></span>
                    <div class="col">
                        <span class="position-bar-driver-name"></span>
                        <span class="position-bar-driver-delta"></span>
                        <span class="position-bar-driver-time"></span>
                    </div>
                </div>
            }
        </div>

        <div id="top-group" class="row sb">
            <div id="top-left-group" class="row">
                <div class="container" id="position-container">
                    <span id="position" class="value"></span>
                    <span class="label">Position</span>
                </div>

                <div class="container" id="estimated-laps-left-container">
                    <span id="estimated-laps-left" class="value"></span>
                    <span class="label">Estimated Laps Left</span>
                </div>

                <div class="container" id="current-laptime-container">
                    <span id="current-laptime" class="value"></span>
                    <span class="label">Current Laptime</span>
                </div>
            </div>

            <div id="top-right-group" class="row">
                <div class="container" id="last-lap-session-container">
                    <span id="last-lap-session" class="value"></span>
                    <span class="label">Last Lap</span>
                </div>
                <div class="container" id="best-lap-session-container">
                    <span id="best-lap-session" class="value"></span>
                    <span class="label">Best Lap</span>
                </div>
                <div class="container" id="incident-points-container">
                    <span id="incident-points" class="value"></span>
                    <span class="label">Incident Points</span>
                </div>
                <div class="container" id="time-left-container">
                    <div class="row" id="time-left">
                        <span id="time-left-hours" class="value"></span>
                        <span id="time-left-minutes" class="value"></span>
                        <span id="time-left-seconds" class="value"></span>
                    </div>
                    <span id="laps-left" class="value"></span>
                    <span class="label" id="session-type"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="bottom-group" class="row sb">
        <div id="bottom-left-group" class="row">
            <table id="tires" class="hud-element">
                <tr>
                    <td id="front-left">
                        <div class="row wheel">
                            <span id="front-left-wear">57%</span>
                            <table>
                                <tr>
                                    <td class="brake-placeholder"></td>
                                    <td><span id="front-left-temp-1"></span></td>
                                    <td><span id="front-left-temp-2"></span></td>
                                    <td><span id="front-left-temp-3"></span></td>
                                </tr>
                                <tr>
                                    <td class="brake-temp" id="front-left-brake">
                                        <div></div>
                                    </td>
                                    <td id="front-left-1" class="tire-visual t1"><progress max="1"></progress></td>
                                    <td id="front-left-2" class="tire-visual t2"><progress max="1"></progress></td>
                                    <td id="front-left-3" class="tire-visual t3"><progress max="1"></progress></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td id="front-right">
                        <div class="row wheel">
                            <span id="front-right-wear"></span>
                            <table>
                                <tr>
                                    <td><span id="front-right-temp-1"></span></td>
                                    <td><span id="front-right-temp-2"></span></td>
                                    <td><span id="front-right-temp-3"></span></td>
                                    <td class="brake-placeholder"></td>
                                </tr>
                                <tr>
                                    <td id="front-right-1" class="tire-visual t1"><progress max="1"></progress></td>
                                    <td id="front-right-2" class="tire-visual t2"><progress max="1"></progress></td>
                                    <td id="front-right-3" class="tire-visual t3"><progress max="1"></progress></td>
                                    <td class="brake-temp" id="front-right-brake">
                                        <div></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="rear-left">
                        <div class="row wheel">
                            <span id="rear-left-wear"></span>
                            <table>
                                <tr>
                                    <td class="brake-temp" id="rear-left-brake">
                                        <div></div>
                                    </td>
                                    <td id="rear-left-1" class="tire-visual t1"><progress max="1"></progress></td>
                                    <td id="rear-left-2" class="tire-visual t2"><progress max="1"></progress></td>
                                    <td id="rear-left-3" class="tire-visual t3"><progress max="1"></progress></td>
                                </tr>
                                <tr>
                                    <td class="brake-placeholder"></td>
                                    <td><span id="rear-left-temp-1"></span></td>
                                    <td><span id="rear-left-temp-2"></span></td>
                                    <td><span id="rear-left-temp-3"></span></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td id="rear-right">
                        <div class="row wheel">
                            <span id="rear-right-wear"></span>
                            <table>
                                <tr>
                                    <td id="rear-right-1" class="tire-visual t1"><progress max="1"></progress></td>
                                    <td id="rear-right-2" class="tire-visual t2"><progress max="1"></progress></td>
                                    <td id="rear-right-3" class="tire-visual t3"><progress max="1"></progress></td>
                                    <td class="brake-temp" id="rear-right-brake">
                                        <div></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span id="rear-right-temp-1"></span></td>
                                    <td><span id="rear-right-temp-2"></span></td>
                                    <td><span id="rear-right-temp-3"></span></td>
                                    <td class="brake-placeholder"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>

            <table id="damage" class="hud-element">
                <tr>
                    <td><span>Engine</span></td>
                    <td id="engine-damage"><progress max="1"></progress></td>
                </tr>
                <tr>
                    <td><span>Transmission</span></td>
                    <td id="transmission-damage"><progress max="1"></progress></td>
                </tr>
                <tr>
                    <td><span>Aerodynamics</span></td>
                    <td id="aerodynamics-damage"><progress max="1"></progress></td>
                </tr>
                <tr>
                    <td><span>Suspension</span></td>
                    <td id="suspension-damage"><progress max="1"></progress></td>
                </tr>
            </table>

            <div class="row" id="fuel-data">
                <he class="col sb">
                    <span></span>
                    <span id="fuel-left"></span>
                    <span class="label">Fuel Remain</span>
                </he>
                <table>
                    <tr>
                        <td>
                            <he class="col">
                                <span class="label">Time Estimate</span>
                                <span id="fuel-time"></span>
                            </he>
                        </td>
                        <td>
                            <he class="col">
                                <span class="label">Last Lap</span>
                                <span id="fuel-last-lap"></span>
                            </he>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <he class="col">
                                <span id="fuel-laps"></span>
                                <span class="label">Laps Estimate</span>
                            </he>
                        </td>
                        <td>
                            <he class="col">
                                <span id="fuel-per-lap"></span>
                                <span class="label">Fuel / Lap</span>
                            </he>
                        </td>
                    </tr>
                </table>
                <he class="col sb">
                    <span></span>
                    <span id="fuel-to-end"></span>
                    <span class="label">Fuel To End</span>
                </he>
                <he class="col sb">
                    <span></span>
                    <span id="fuel-to-add"></span>
                    <span class="label">Fuel To Add</span>
                </he>
            </div>
        </div>


        <div id="bottom-right-group" class="row">
            <he id="relative-viewer" class="hud-element">
                <table>
                    <tbody></tbody>
                </table>
            </he>

            <he id="driver-inputs" class="col">
                <table>
                    <tr id="input-numbers">
                        <td><span id="clutch-input"></span></td>
                        <td><span id="brake-input"></span></td>
                        <td><span id="throttle-input"></span></td>
                    </tr>
                    <tr id="input-progress">
                        <td><progress id="clutch-progress" max="1"></progress></td>
                        <td><progress id="brake-progress" max="1"></progress></td>
                        <td><progress id="throttle-progress" max="1"></progress></td>
                    </tr>
                </table>

                <div id="steering-wheel-container">
                    <img src="~/icons/steering-wheel.png" id="steering-wheel">
                </div>
            </he>


            <he class="col" id="basic">
                <table>
                    <tr>
                        <td><span id="engine-map"></span></td>
                        <td><span id="traction-control"></span></td>
                    </tr>
                    <tr>
                        <td><span id="engine-brake"></span></td>
                        <td><span id="brake-bias"></span></td>
                    </tr>
                </table>
                <div class="row sb" id="gear-and-assists">
                    <img src="~/icons/tc.png" id="tc-icon" class="assist-icon">
                    <span id="gear"></span>
                    <img src="~/icons/abs.png" id="abs-icon" class="assist-icon">
                </div>
                <span id="speed"></span>
                <progress id="revs" max="100" value="0"></progress>
            </he>
        </div>
    </div>
</div>

<div id="delta" class="col center-items">
    <span id="delta-number"></span>
    <div id="delta-bar-container">
        <div id="delta-bar"></div>
    </div>
</div>

<div id="sector-times" class="row">
    <span id="sector-1"></span>
    <span id="sector-2"></span>
    <span id="sector-3"></span>
</div>

<div id="radar" class="hud-element"></div>

