@page
@model SettingsModel

@{
  Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <title>ReHUD | Settings</title>

    <link rel="stylesheet" href="~/css/settings.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    

    <script src="~/dist/settings-bundle.js" asp-append-version="true"></script>
</head>


<div class="tab">
    <button class="main-tabs tablinks active" id="general-tablink">General</button>
    <button class="main-tabs tablinks" id="layout-tablink">Layout</button>
</div>

<div id="general-tab" class="main-tabs tabcontent active">
    <choice-setting key="screenToUse" value="@(Model.Screen)">
        <label>Screen to use</label>
        @foreach (var screen in Model.Screens)
        {
            <button value="@screen.Item1">@screen.Item2</button>
        }
    </choice-setting>

    <toggle-setting key="vrMode" restart-to-apply="true" tooltip="Renders ReHUD with a black background for proper mirroring into SteamVR">VR Mode</toggle-setting>

    <slider-setting key="framerate" min="3" max="1000" step="1" value="60">Framerate</slider-setting>

    <choice-setting key="speedUnits" value="kmh">
        <label>Speed Units</label>
        <button value="kmh">km/h</button>
        <button value="mph">mp/h</button>
    </choice-setting>

    <choice-setting key="pressureUnits" value="kPa">
        <label>Pressure Units</label>
        <button value="kPa">kPa</button>
        <button value="psi">psi</button>
    </choice-setting>

    <slider-setting key="radarRange" min="0" max="30" step="1" value="12">Radar Range (m)</slider-setting>
    <slider-setting key="radarFadeRange" min="0" max="30" step="0.1" value="2" tooltip="Additional range beyond the normal range where the radar will fade in. The is also the range in which cars will show as pointers.">Radar Fade Range (m)</slider-setting>
    <slider-setting key="radarOpacity" min="0.1" max="1" step="0.1" value="0.8">Radar Opacity</slider-setting>
    <slider-setting key="radarBeepVolume" min="0" max="3" step="0.01" value="1">Radar Beep Volume</slider-setting>
    <toggle-setting key="radarLowDetail">Simplified Radar</toggle-setting>
    <toggle-setting key="radarPointer" tooltip="If enabled, cars which are within the fade range will be shown as pointers in the outer ring of the radar.">Radar Pointers</toggle-setting>

    <slider-setting key="p2pReadyVolume" min="0" max="3" step="0.01" value="1">Push to Pass Beep Volume</slider-setting>

    <slider-setting key="positionBarCellCount" min="3" max="51" step="2" value="13">Position Bar Cell Count</slider-setting>

    <slider-setting key="tvTowerMaxSize" min="10" max="36" step="2" value="16">TV Tower Maximum Player Count</slider-setting>
    <toggle-setting key="tvTowerRankedData">Show TV Tower Ranked Data</toggle-setting>
    <toggle-setting key="tvTowerCarLogo">Show TV Tower Image</toggle-setting>
    <choice-setting key="tvTowerCarLogoOrLivery" value="livery">
        <label>TV Tower Image</label>
        <button value="carLogo">Brand Logo</button>
        <button value="livery">Livery</button>
    </choice-setting>

    <choice-setting key="deltaMode" value="session" tooltip="'All-time Best' will give the best lap recorded by ReHUD. If no valid lap was recorded yet, will fallback to the session best provided by RaceRoom.">
        <label>Show Delta Compared to</label>
        <button value="session">Session Best</button>
        <button value="session-fallback-alltime">Session Best / Fallback to all-time best</button>
        <button value="alltime">All-time Best</button>
    </choice-setting>
    <toggle-setting key="showDeltaOnInvalidLaps">Show Delta on Invalid Laps</toggle-setting>


    <toggle-setting key="relativeSafeMode" tooltip="Enabling this option will mean that the relative will only work with saved best lap data, and will not save new ones. ">Relative Safe Mode</toggle-setting>

    <toggle-setting key="hardwareAcceleration" restart-to-apply="true" tooltip="If your ReHUD window has a black background instead of a transparent one, try disabling this option.">Hardware Acceleration</toggle-setting>

    <toggle-setting key="check-for-updates">Check for Updates</toggle-setting>
</div>

<div id="layout-tab" class="main-tabs tabcontent">
    <div class="tab" id="layout-preset-tabs">
        <button id="new-layout-preset"><span class="material-symbols-outlined icon-button">add</span></button>
    </div>

    <div class="setting" id="layout-setting">
        <button id="edit-layout">Edit</button>
        <button id="cancel-reset-layout">Reset</button>
    </div>

    <toggle-setting key="isReplayLayout" disabled>Replay Preset</toggle-setting><span class="material-symbols-outlined tooltip" title="When enabled, this preset will automatically be chosen when you enter a replay. Only one preset can be set as the replay preset.">info</span>

    <div id="element-toggles"></div>
</div>


<span id="version"></span>
<button id="show-log-file">Show Log File</button>
